.App {
  text-align: center;
}
.Center {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-items: center;
  align-items: center;
}

.table {
  width: 70%;
  padding: initial;
}